/*
// ==============================================================================
// Author: Andreas Mueller <webmaster@am-wd.de>
// Created: 2015-03-09
// Description:
// Main CSS file. Contains whole site-structure.
// ==============================================================================

// ==============================================================================
// Changelog:
//
// Date       | Change
// -----------+------------------------------------------------------------------
//            |
// ==============================================================================
*/

/* Allgemein
------------ */
*, html {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	background: #eee;
	font: 13px/18px 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poiret One', Calibri, sans-serif;
	padding: .2em;
	line-height: 1em;
	font-weight: lighter;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.6em;
}
h3 {
	font-size: 2.2em;
}
h4 {
	font-size: 1.8em;
}
h5 {
	font-size: 1.4em;
}
h6 {
	font-size: 1em;
}

a {
	color: #555;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	/*text-transform: capitalize;*/
}

table {
	margin: 5px auto;
}

table td,
table th {
	padding: 1px 3px;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea {
	cursor: text;
	border: none;
	background: #eee;
	font: 13px/18px 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

input[type=submit],
input[type=button],
button {
	cursor: pointer;
}


/* Layout
--------- */
.clear { clear: both; }

.blue {
	background: #2e90bd url('images/gradient.png') repeat-x 0 -95px;
	color: #fff;
}

	.blue a {
		color: #fff;
	}

.left { text-align: left; }

.center { text-align: center; }

.right { text-align: right; }

.justify, .block { text-align: justify; }

.button {
	font-size: 11px;
	line-height: 12px;
}

/* Struktur
----------- */
#wrapper {
	width: 1000px;
	margin: 5px auto;
}

#headWrapper {
	position: relative;
	height: 100px;
}

#headMain {
	float: left;
	width: 800px;
	height: 100px;
}

#headClock {
	float: right;
	color: #000;
	width: 180px;
	height: 65px;
	padding-top: 35px;
}

#navWrapper {
	position: relative;
	padding: 8px;
	margin-top: 20px;
	border: 1px solid #aaa;
	border-radius: 15px;
}

#navLeft {
	float: left;
}

#navRight {
	float: right;
	text-align: right;
}

#mainWrapper {
	position: relative;
	margin-top: 20px;
	border: 1px solid #aaa;
	border-radius: 15px;
	background: #fff;
}

#mainLeft {
	float: left;
	padding: 10px;
	width: 220px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-bottom: 15px;
}

#mainRight {
	float: right;
	padding: 8px;
	width: 740px;
}

#footWrapper {
	position: relative;
	margin-top: 20px;
	padding: 8px;
	border: 1px solid #aaa;
	border-radius: 15px;
}

#footLeft {
	float: left;
}

#footRight {
	float: right;
}

/* Header
--------- */
#headMain h1,
#headMain h3 {
	color: #000;
	text-shadow: 1px 1px 5px #000;
	text-align: center;
}

#headMain a {
	text-decoration: none;
}

#headMain h1 {
	margin-top: 20px;
	font-size: 4em;
	line-height: inherit;
}

#headMain h3 {
	margin-top: 10px;
	font-size: 1.5em;
}

/* Uhr
------ */
#headClock {
	position: relative;
	font-family: Wallpoet, 'Arial Rounded MT Bold', Copperplate;
	text-align: center;
}

#clkTime {
	font-size: 2.8em;
	text-shadow: 1px 1px 3px #444;
}

#clkDate {
	font-size: 1.5em;
}

/* JavaScript Meldung
--------------------- */
#javascriptAlert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 100;
}

#javascriptAlertText {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 120px;
	margin-top: -70px;
	margin-left: -260px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 1px 1px 4px #fff;
	text-align: justify;
	padding: 10px;
}

/* Ladeschatten
--------------- */
#loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 500;
}

#loadingAnimation {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 128px;
	height: 128px;
	margin-top: -64px;
	margin-left: -64px;
	background: url(images/loading.gif) no-repeat 0 0;
}

/* Seitenleiste
--------------- */
#mainLeft hr {
	width: 200px;
	margin: 10px auto;
}

#calSelect {
	text-align: center;
}

#sideCal {
	font-size: .95em;
}

#menu {
	margin-top: 10px;
	padding-left: 25px;
	list-style: none;
}

#menu span {
	position: absolute;
	margin-left: -1.7em;
}

/* Kalender
----------- */
#calMenu {
	position: relative;
	padding-bottom: 10px;
}

#calMenuPrev,
#calMenuNext {
	cursor: pointer;
	padding: .15em;
}

#calMenuPrev {
	float: left;
}

#calMenuNext {
	float: right;
}

#calMenuTitle {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

#calendar {
	position: relative;
	overflow: visible;
}

	#calendar #calGrid {
		/* TODO */
	}
	
	#calendar #calDates {
		position: absolute;
		overflow: hidden;
		top: 30px;
		left: 13px;
	}

#calGrid ul {
	list-style: none;
}

	#calGrid ul li {
		position: relative;
		clear: left;
		border-top: 1px dashed #aaa;
	}
	#calGrid ul.viewDay li:nth-child(odd) div,
	#calGrid ul.viewWeek li:nth-child(odd) div {
		/* do nothing at the moment */
	}

	#calGrid ul.viewDay li:nth-child(even) div,
	#calGrid ul.viewWeek li:nth-child(even) div {
		background-color: #eaf4f8;
		background-color: rgba(46, 144, 189, .1);
	}

		#calGrid ul li .time {
			width: 13px;
			line-height: 10px;
			margin: .4em 0;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			float: left;
			background: inherit !important;
		}

#calGrid .calHead {
	font-weight: bold;
	text-align: center;
	border-top: none !important;
}

	#calGrid .calHead div {
		height: 20px !important;
		overflow: hidden;
	}

#calDates {
	overflow: hidden;
}

#calDates .date {
	position: absolute;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding: 5px;
	overflow: hidden;
}

#calDates .dateBorderTop {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #aaa;
	background: url('images/gradient.png') repeat-x 0 -80px;
}

#calDates .dateBorderBottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #aaa;
}


/* Kalender - Tagesansicht
-------------------------- */
#calGrid .viewDay .day {
	float: left;
	width: 727px;
	height: 59px;
}

#calDates .dateDay {
	right: 15px;
	left: 15px;
}


/* Kalender - Wochenansicht
--------------------------- */
#calGrid .viewWeek .day {
	float: left;
	width: 103px;
	height: 59px;
	border-right: 1px dashed #aaa;
}

#calGrid .viewWeek .day:last-child {
	border-right: none;
}

#calDates .dateWeek {
	width: 91px;
}


/* Kalender - Monatsansicht
--------------------------- */
#calGrid .viewMonth .day {
	float: left;
	width: 103px;
	height: 103px;
	border-right: 1px dashed #aaa;
}

#calGrid .viewMonth .day:last-child {
	border-right: none;
}

#calGrid .viewMonth .day .date {
	padding: 5px 0 0 5px;
	font-size: 0.85em;
	color: #bbb;
}

#calGrid .viewMonth .day .today {
	color: #000;
}

#calDates .dateList {
	position: absolute;
	width: 103px;
	list-style: none;
	max-height: 84px;
	padding-top: 20px;
}

	#calDates .dateList li {
		line-height: 1.1em;
		overflow: hidden;
		height: 1.1em;
		padding: 0 3px;
		cursor: pointer;
	}

/* Administration - Einstellungen
--------------------------------- */
#settingsSaveSuccess {
	display: none;
}

/* Administration - Benutzer
---------------------------- */
#newUserSaveSuccess {
	display: none;
}