/*
// ==============================================================================
// Author: Andreas Mueller <webmaster@am-wd.de>
// Created: 2015-05-30
// Description:
// Defined Fonts from googlefonts library.
// These fonts are downloaded for offline usage.
// All possible rights are reseved by their owners.
// Nothing of these fonts is mine!
//
// Link: https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One|Wallpoet
// ==============================================================================

// ==============================================================================
// Changelog:
//
// Date       | Change
// -----------+------------------------------------------------------------------
//            |
// ==============================================================================
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff2) format('woff2'), url(OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(PoiretOne.woff2) format('woff2'), url(PoiretOne.woff) format('woff');
}
@font-face {
  font-family: 'Wallpoet';
  font-style: normal;
  font-weight: 400;
  src: local('Wallpoet'), url(WallPoet.woff2) format('woff2'), url(WallPoet.woff) format('woff');
}
